.Story-container {
    position: relative;
  }
  
  .mainH {
    position: absolute;
    top: 30;
    left: 40;
    margin: 10px;
    font-size: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 80%;
  }
  .parast{
     font-family: 'Droid Sans', sans-serif;
      font-size: 20px;
       font-weight: 400;
       line-height: 24px;
        margin: 0 0 14px;
        background-color: rgb(255, 255, 255);
        margin: 10% 10%;
  }
  